.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 2.5rem;
    background-color: var(--secondary-color);
}

.header a {
    color: var(--dark-color);
    padding: 0.45rem;
    margin: 0 2rem;
    
  }
  
.header a:hover {
    color: var(--light-color);
}

.header-main {
    display: flex;
    align-items: center;
}

.header-main img {
    height: 140px;
}

.header-main h1 {
    color: var(--dark-color);
    margin-left: 1rem;
}