.book-item {
    display: flex;
    justify-content: space-around;
    align-items: start;
    /* gap: 25px; */
    padding: 12px;
    margin: 2em;
    max-width: 750px;
    height: 190px;
}

.book-item:hover {
    background-color: rgba(206, 201, 201, 0.3);  
}

.book-item img {
    height: 190px; 
}

.book-item-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 15px;
    text-align: start;
    width: 465px;

}

.book-item-info .title {
    font-size: 1.15em;
}

.book-item-info .subtitle {
    font-style: italic;
}

.book-item-info .authors {
    margin-top: 10px;
}

.book-item-info .authors,
.book-item-info .genre,
.book-item-info .published {
    font-size: 0.95em;
}

.label {
    font-weight: bold;
}

.like-button {
    all: unset;
    cursor: pointer;
}

.heart {
    font-size: 1.5rem;
    color: #e74c3c;
    cursor: pointer;
    margin-left: 16px; 
}

.heart:hover {
    color: #e74c3c;
    transform: scale(1.15);
    transition: all 0.4s ease;
    text-shadow: 0px 0px 10px rgba(255, 0, 0, 0.5);
}

.book-item-info-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.heart-button{
    margin: 0;
    padding: 0;
}

.rate-bar {
    margin: 0;
}

@media (max-width: 825px) { 
    .book-item {
        /* padding: 5px; */
        /* margin: 1em; */
        max-width: 350px;
        height: 140px;
        font-size: 12px;
    }

    .book-item img {
        height: 140px; 
    }

    .book-item-info {
        margin-left: 10px;
        gap: 5px;
    }

    .book-item-info i {
        font-size: 1em;
    }
    
    .book-item-info .title {
        font-size: 1.1em;
    }
    
    .book-item-info .subtitle {
        font-style: italic;
    }
    
    .book-item-info .authors {
        margin-top: 6px;
    }
    
    .book-item-info .authors,
    .book-item-info .genre,
    .book-item-info .published {
        font-size: 0.95em;
    }
  }