.reading-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-color: black;
} 

.reading-list-main {
    margin-bottom: 3em;
    display:flex;
    flex-direction: column;
    list-style: none;
    min-height: 51vh;
}

h2 {
    margin-bottom: 30px;
}

.reading-list .button {
    border: var(--primary-color);
    margin: 5px;
    cursor: pointer;
  }

.reading-list button i.delete{
    color:#2d2d74;
}

.reading-list button i.delete:hover {
    color: #4896c0; 
}

.reading-list .button i.read{
    color:orange;
}

.reading-list .button i.read:hover {
    color: #96c048; 
}

@media (max-width: 600px) {
    .reading-list i {
        font-size: 1.5em;
    }

    .reading-list a {
        padding: 0;
        margin: 0;
    }
}