.reading-list-container{
    display: flex;
    flex-direction: column;
    list-style: none;

}

.reading-list-items{
    
    background-color: rgba(196, 202, 199, 0.3);
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    border: rgb(4, 108, 4) solid;
    box-shadow: 3px 8px 10px;
}
.reading-list{
    display:flex;
    flex-direction: row;
    align-items: center;
    
}