.reading-list-items{
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 40px;
    padding: 2.5em;
    align-items: center;
}
.reading-list{
    display:flex;
    flex-direction: row;
    align-items: center;
    border-color: black;
    width: 100%;
} 

.reading-list-main{
    margin-bottom: 3em;
    width: 100%;
    display:flex;
    flex-direction: column;
    list-style: none;
    min-height: 51vh;
}

h2{
    margin-bottom: 30px;
}

