@import url('https://fonts.googleapis.com/css?family=Roboto');

/* global color vars */
:root {
  --primary-color: #f7f7f7;
  --secondary-color: #e4e3e3c2;
  --light-color: #8c8888;
  --dark-color: #111111;
  --orange-color: #edad37;
  --brown-color: #b67737;
}

* {
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

#root {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  
  text-align: center;
  background-color: var(--primary-color);
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
button{
  background-color: none;
  border-radius: 30px;
  width: 50px;
  height: 40px;
  border: var(--primary-color);
  margin-right: 2em;
  font-size: medium;
}
button i.delete{
  color:#2d2d74;
}

button i.read{
  color:orange;
}

button i.read:hover {
  color: #96c048; 
}
