.search-bar {
    width: 70%;
    padding: 20px;
    border: 2px solid var(--orange-color);
    border-radius: 25px;
    font-style: italic;
    font-size: medium;
}

.search-bar:focus {
    box-shadow: 4px 4px 4px rgb(72, 72, 129)
}


