.search-bar {
    width: 70%;
    padding: 20px;
    border: 2px solid var(--orange-color);
    border-radius: 25px;
    font-style: italic;
    font-size: medium;
    margin-bottom: 30px;
}

.search-bar:hover{
    outline: 2px solid var(--brown-color);
	outline-offset: -2px;
    box-shadow: inset;
}
*:focus {
    outline: none;
}




